@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* custom variables */
:root{
    --primary: black;
    --secondary: white;
    --alternative: #4F1282;
    --awesome: #B2ADB6;
    --borderColor: #4F1282;
}

/* Navbar */
img[alt='logo']{
    width: 10rem;
    aspect-ratio: 2/1;
    object-fit: cover;
    object-position: center;
    transition: all .5s;

    &:hover{
        transform: scale(1.1);
    }
}

.navbar-nav .nav-link{
    font-family: "Poppins", sans-serif;
    color: var(--secondary);
    font-weight: 600;
    font-size: 1.1rem;
    margin-right: 2rem;
}

.navbar-scrolled {
    background-color: var(--alternative);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.80);
}

/* --------------------------------------------- Banner Section ---------------------------------------------------------- */
/* Wrapper */
.wrapper {
    --bg-color: rgb(91, 148, 91);
    --opacity: .7;
    width: 50%;
    aspect-ratio: 1;
    margin: 2rem auto 2rem;
    position: relative;
    text-align: center;
    &::after {
        content: '';
        background: var(--bg-color) url('your_image') no-repeat center center;
        background-size: cover;
        position: absolute;
        inset: 0;
        width: 100%;
        z-index: -1;
        aspect-ratio: 1;
        opacity: var(--opacity);
        background-blend-mode: darken;
    }
}

/*---------------------------------------- Media query --------------------------------------------------------------*/
@media (width < 999px)
{ 
    .navbar-nav .nav-link{
        margin-right: 0rem;
        margin-left: 1rem;
    }
}