@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* custom variables */
:root{
    --primary: black;
    --secondary: white;
    --alternative: #4F1282;
    --awesome: #B2ADB6;
    --borderColor: #4F1282;
    --spanColor: #D671FF;
}

/* Navbar */
img[alt='logo']{
    width: 10rem;
    aspect-ratio: 2/1;
    object-fit: cover;
    object-position: center;
    transition: all .5s;

    &:hover{
        transform: scale(1.1);
    }
}

.navbar-nav .nav-link{
    font-family: "Poppins", sans-serif;
    color: var(--secondary);
    font-weight: 600;
    font-size: 1.1rem;
    margin-right: 2rem;
}

.navbar-scrolled {
    background-color: var(--alternative);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.80);
}

.navbar{
    transition: all 0.5s;
}

/* --------------------------------------------- Banner Section ---------------------------------------------------------- */
.banner-gradient{
    background-image: linear-gradient(80deg, #4F1282, #8D5499);
    background-size: cover;
    background-position: center; 
    overflow: hidden;
    font-family: 'poppins';
    z-index: 0;
}

.homeContent{
    margin: 18rem auto 18rem;
    position: relative;
    z-index: 0;
}

.homeContent h2{
    width: 2rem;
    margin: auto;
    z-index: 2;
    position: relative;
}

.project-title{
    z-index: 2;
    width: 36vw;
    padding: 2rem 8rem 2rem 6rem;
    margin: auto;
    position: relative;
    border: 1px solid var(--secondary);
}

.project-title h1{
    font-size: 5rem;
    color: var(--secondary);
    font-weight: 600;
}

.title-span{
    color: var(--spanColor);
    font-weight: 600;
}

.up{
    height: 800px;
    width: 800px;
    position: absolute;
    border-radius: 50%;
    background-image: linear-gradient(80deg, #4F1282, #8D5499);
    filter: blur(80px);
    animation: down 40s infinite;
    z-index: 0;
}

.down{
    position: absolute;
    right: 0;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-image: linear-gradient(80deg, #222222,  #4F1282);
    filter: blur(80px);
    animation: up 30s infinite;
    z-index: 0;
}
.left{
    position: absolute;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-image: linear-gradient(80deg, #4F1282, #D671FF);
    filter: blur(80px);
    animation: left 30s 1s infinite;
    z-index: 0;
}
.right{
    position: absolute;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-image: linear-gradient(80deg, #ababab, #4F1282);
    filter: blur(80px);
    animation: right 40s .5s infinite;
    z-index: 0;
}

@keyframes down{
    0%, 100%{
        top: -100px;
    }
    70%{
        top: 700px;
    }
}
@keyframes up{
    0%, 100%{
        bottom: -100px;
    }
    70%{
        bottom: 700px;
    }
}
@keyframes left{
    0%, 100%{
        left: -100px;
    }
    70%{
        left: 1300px;
    }
}
@keyframes right{
    0%, 100%{
        right: -100px;
    }
    70%{
        right: 1300px;
    }
}
/*---------------------------------------- Media query --------------------------------------------------------------*/
@media (width < 999px)
{ 
    .navbar-nav .nav-link{
        margin-right: 0rem;
        margin-left: 1rem;
    }
}